<div ng-controller="boxStaticCtrl" class="simpleBox maxHeight500">
    <h2 class="text-center">Subject</h2>

    <section class="formWrapper clearfix">
        <div class="rowWrapper">
            <label class="block mb0">Name:</label>
            <span class="block">{{selectedObj.name}}</span>
            <!-- <input class="form-control" type="text" ng-model="selectedObj.name" ng-disabled="true"/> -->
        </div>

        <div class="rowWrapper" ng-show="selectedObj['providers']">
            <label class="block">Provider list (Endpoint groups):</label>
            <ul>
                <li ng-repeat="provider in selectedObj['providers'] track by $index">
                {{getLabel(provider, 'providerItems')}}
                </li>
            </ul>
        </div>

        <div class="rowWrapper" ng-show="selectedObj['consumers']">
            <label class="block">Consumer list (Endpoint groups):</label>
            <ul>
                <li ng-repeat="consumer in selectedObj['consumers'] track by $index">
                {{getLabel(consumer, 'consumerItems')}}
                </li>
            </ul>
        </div>

    </section>

    <h2 class="text-center" ng-show="selectedObj['rules']">Rules</h2>

    <section class="formWrapper clearfix" ng-show="selectedObj['rules']" ng-repeat="rule in selectedObj['rules'] track by $index">
        <!-- <label class="block">Rule</label> -->
        <section class="ml10">
            <label class="block">Rule:</label>
            <span>{{rule.name}}</span>

            <label class="block mb0 ml20"><span>Classifier instances:</span></label>
            <section class="mb10 ml20" ng-repeat="classifier in rule['classifier-ref'] track by $index" ng-show="rule['classifier-ref']">
                    
                    <div>
                        <label class="basicLabel mb0">Name:</label>
                        <span>{{classifier.name}}</span>
                    </div>
                    
                    <div>
                        <label class="basicLabel mb0">Instance name:</label>
                        <span>{{classifier['instance-name']}}</span>
                    </div>

                    <div ng-show="classifier.direction">
                        <label class="basicLabel mb0">Direction:</label>
                        <span>{{classifier.direction}}</span>
                    </div>
                    <div ng-show="classifier.direction">
                        <label class="basicLabel mb0">Connection tracking:</label>
                        <span>{{classifier['connection-tracking']}}</span>
                    </div>

                    <label class="block ml30">Parameters:</label>

                    <section class="mb10 ml30" ng-repeat="param in classifier.parameters track by $index" ng-show="classifier.parameters">
                        <div>
                            <label class="basicLabel mb0">{{param.name}}:</label>
                            <span>{{param['int-value']}}</span>
                        </div>
                    </section>
            </section>

            <section class="mb10 ml20" ng-show="rule['action-ref']" ng-repeat="action in rule['action-ref'] track by $index">

                    <label class="block mb0"><span>Action ref</span></label>

                    <div class="rowWrapper">
                        <label class="basicLabel mb0">Name:</label>
                        <span>{{action.name}}</span>
                    </div>

            </section>

        </section>
    </section>

</div>