<section class="col-md-3 simpleBox mt30">
    <h3 class="text-center">Health</h3>
    <div class="panelWrapper clearfix">
        <button class="btn btn-primary col-md-12 btn-lg">Exception</button>
        <button class="btn btn-primary col-md-12 btn-lg">Conflict</button>
    </div>
</section>

<section class="col-md-4 col-md-offset-2 simpleBox mt30">
    <div class="panelWrapper clearfix">
        <!-- Tenants list -->
        <div class="rowWrapper clearfix">
            <label class="block"><span>Tenants list</span></label>
            <div class="selectWrapper col-md-12">
                <select class="form-control" ng-model="selectedTenant" ng-change="setTenant(selectedTenant)" ng-options="getDisplayLabel(d, tenantDisplayLabel) for d in tenantList">
                    <option value="">Select option</option>
                </select>
            </div>

            <div class="clear"></div>

            <div class="mt10 clearfix">
                <div class="col-md-6 pl0">
                    <button class="btn btn-primary col-md-12 btn-big" ng-click="toggleExpanded('expressed-policy'); setViewExpand('subMenuView','governance', true); setBreadcrumb('l2', 'Expressed policy', true);" >Expressed<br />policy</button>
                </div>
                <div class="col-md-6 pr0">
                    <button class="btn btn-primary col-md-12 btn-big" ng-click="toggleExpanded('delivered-policy'); setViewExpand('subMenuView','governance', true); setBreadcrumb('l2', 'Delivered policy', true);">Delivered<br />policy</button>
                </div>
            </div>
            
        </div>
    </div>


    <div class="panelWrapper clearfix">
        <!-- Tenants list -->
        <div class="rowWrapper clearfix">
            <label class="block"><span>Renderers list</span></label>
            <div class="selectWrapper col-md-12">
                <select class="form-control" ng-model="selectedRenderer" ng-change="setRenderer()" ng-options="getDisplayLabel(d, tenantDisplayLabel) for d in rendererList">
                    <option value="">Select option</option>
                </select>
            </div>

            <div class="clear"></div>

            <div class="mt10 clearfix">
                <div class="col-md-6 pl0">
                    <button class="btn btn-primary col-md-12 btn-big" ng-click="toggleExpandedMM('policy-renderer'); setViewExpand('policyRendererView', 'basic', true); setViewExpand('subMenuView', 'renderers', true); setBreadcrumb('l1', 'Policy expression', true); setBreadcrumb('l2', 'Renderers', true);" >Renderer<br />configuration</button>
                </div>
                <div class="col-md-6 pr0">
                    <button class="btn btn-primary col-md-12 btn-big" ng-click="toggleExpanded('renderer-state'); setBreadcrumb('l1', 'Governance', true); setBreadcrumb('l2', 'Renderer state', true);">Renderer<br />state</button>
                </div>
            </div>

        </div>
    </div>
</section>