/*GBP*/
.pl0 {
  padding-left: 0 !important;
}
.pr0 {
  padding-right: 0 !important;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb0 {
  margin-bottom: 0px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.ml30 {
  margin-left: 30px !important;
}
.maxHeight500 {
  max-height: 500px;
  overflow-y: scroll;
}
.gbpGlobalWrapper {
  background: #f5f5f5;
  margin-bottom: 0!important;
  min-height: 100%;
  padding-bottom: 60px;
}
.gbpGlobalWrapper span,
.gbpGlobalWrapper label {
  color: #393939;
}
.gbpGlobalWrapper h2 {
  color: #666;
}
.gbpGlobalWrapper .form-control,
.gbpGlobalWrapper .main input[type="text"] {
  background: #fff;
  color: #858585;
}
.gbpGlobalWrapper .form-control[disabled],
.gbpGlobalWrapper .main input[type="text"][disabled] {
  background: #eeeeee;
}
.gbpGlobalWrapper .form-control.narrow-input-left {
  width: 45%;
  float: left;
}
.gbpGlobalWrapper .form-control.narrow-input-right {
  width: 45%;
  float: right;
}
.gbpGlobalWrapper .row-param {
  margin-bottom: 15px;
  float: left;
}
.gbpGlobalWrapper .param-label {
  width: 100%;
  float: left;
}
.gbpGlobalWrapper .ep-filter {
  margin-bottom: 20px;
}
.gbpGlobalWrapper .ep-filter DIV {
  width: 48%;
}
.gbpGlobalWrapper .float-left {
  float: left;
}
.gbpGlobalWrapper .float-right {
  float: right;
}
.gbpGlobalWrapper .full-width {
  width: 100%;
}
.gbpGlobalWrapper .full-width .btn {
  width: 50px;
}
.gbpGlobalWrapper .full-width label {
  margin-top: 10px;
}
.gbpWrapper .btn-primary {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
  font-weight: normal;
}
.gbpWrapper .btn-primary:hover {
  background-color: #1BAAFD;
  border-color: #1BAAFD;
}
.gbpWrapper .btn-primary.bottom-buttons {
  bottom: 0;
  position: absolute;
  margin-bottom: 0 !important;
  background-color: #FF7300;
  border-color: #FF7300;
  width: 45%;
}
.gbpWrapper .btn-primary.bottom-buttons.back {
  right: 0;
  margin-right: 15px;
}
.gbpWrapper .btn-primary.bottom-buttons.home {
  left: 0;
  margin-left: 15px;
}
.gbpWrapper .btn-primary.bottom-buttons:hover {
  background-color: #FF8f33;
  border-color: #FF8f33;
}
.gbpWrapper .btn-primary.bottom-buttons.full-width {
  width: calc(100% - 30px);
  left: 0;
  margin-left: 15px;
}
.gbpWrapper .btn-primary.bottom-buttons.wizard-button {
  bottom: 40px;
}
.gbpWrapper .btn-primary.btn-big {
  padding: 20px;
  font-size: 1.5em;
  white-space: normal;
}
.gbpWrapper .noPadding {
  padding: 0!important;
}
.gbpWrapper .basicLabel {
  padding: 0;
  font-weight: normal;
}
.gbpWrapper .rowWrapper {
  margin-bottom: 5px;
}
.gbpWrapper .inline-block {
  display: inline-block;
}
.gbpWrapper #graph {
  overflow: auto;
  width: 100%;
  height: 100%;
}
.gbpWrapper .graphWrapper {
  position: relative;
}
.gbpWrapper .graphWrapper .controlPanelButtons {
  position: absolute;
  top: 50px;
  right: 0px;
}
.gbpWrapper .graphWrapper .controlPanelButtons .line {
  margin: 5px 0;
}
.gbpWrapper .graphWrapper .btn {
  min-width: 22px;
  line-height: 22px;
  text-align: center;
  padding: 0!important;
}
.gbpWrapper .simpleBox {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  background: #fff;
  padding: 20px;
}
.gbpWrapper .simpleBox h2 {
  margin-top: 0;
}
.gbpWrapper .sectionTitle {
  padding: 20px;
}
.gbpWrapper .sectionTitle label {
  font-size: 25px;
}
.gbpWrapper .legendBox {
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 10;
}
.gbpWrapper .legendBox ul {
  padding: 0;
  list-style: none;
}
.gbpWrapper .legendBox ul .item {
  padding-top: 5px;
  margin-bottom: 10px;
}
.gbpWrapper .legendBox ul .line {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  margin: 9px 5px 0 0;
  width: 50px;
}
.gbpWrapper .legendBox ul .line.blue {
  border-top: 2px solid blue;
}
.gbpWrapper .legendBox ul .line.green {
  border-top: 2px solid green;
}
.gbpWrapper .mainNavigationWrapper {
  padding-bottom: 50px;
  overflow-x: scroll;
}
.gbpWrapper .mainNavigation {
  padding-top: 5%;
  min-width: 1450px;
}
.gbpWrapper .mainNavigation .topButtonsWrapper,
.gbpWrapper .mainNavigation .bottomButtonsWrapper {
  text-align: center;
  width: 400px;
  margin: 0 auto 15px;
  padding: 0 0 20px;
  border-bottom: 5px solid #393939;
}
.gbpWrapper .mainNavigation .bottomButtonsWrapper {
  border-bottom: 0;
  border-top: 5px solid #393939;
  padding: 20px 0 0;
  margin: 15px auto 0;
}
.gbpWrapper .mainNavigation .middleButtonsWrapper {
  text-align: center;
}
.gbpWrapper .mainNavigation .middleButtonsWrapper .buttonWrapper {
  margin-top: 25px;
}
.gbpWrapper .mainNavigation .middleButtonsWrapper .iconWrapper {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  padding-top: 10px;
}
.gbpWrapper .mainNavigation .middleBox {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 500px;
  height: 150px;
  border-left: 5px solid #393939;
  border-right: 5px solid #393939;
}
.gbpWrapper .mainNavigation .middleBox .infinityIcon {
  background: transparent url('../../../src/app/gbp/images/infinity-loop.tpl.html') no-repeat center center;
  width: 128px;
  height: 128px;
  margin: 11px auto 0;
  cursor: pointer;
}
.gbpWrapper .mainNavigation .buttonWrapper {
  text-align: center;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
.gbpWrapper .mainNavigation .buttonWrapper .btn-primary {
  font-size: 2em;
  padding: 25px 0;
  width: 350px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
.gbpWrapper .mainNavigation .buttonWrapper .icon-large:before {
  font-size: 5em;
}
.gbpWrapper aside.col-md-3 {
  min-height: 800px;
}
.gbpWrapper aside.col-md-3 .inWrapper {
  height: 100%;
}
.gbpWrapper .panelWrapper {
  padding: 20px 0 50px;
  height: calc(100% - 109px);
}
.gbpWrapper .panelWrapper.no-padd-top {
  padding-top: 0px;
}
.gbpWrapper .panelWrapper button.btn {
  margin-bottom: 5px;
}
.gbpWrapper .panelWrapper button.btn-list {
  margin-top: 25px;
}
.gbpWrapper .panelWrapper button.btn-default:hover {
  background-color: #e6e6e6 !important;
}
.gbpWrapper .panelWrapper button.btn-default:focus {
  background-color: #fff;
}
.gbpWrapper .panelWrapper button.activated,
.gbpWrapper .panelWrapper button.activated:focus {
  background-color: #e6e6e6 !important;
}
.gbpWrapper .breadcrumbs {
  padding: 10px 0px;
  font-weight: bold;
  border: 0;
  line-height: initial;
}
.gbpWrapper section.sigmaWrapper div.legend {
  margin-bottom: 25px;
}
.gbpWrapper section.sigmaWrapper div.legend span,
.gbpWrapper section.sigmaWrapper div.legend .text {
  color: #fff;
}
.gbpWrapper section.sigmaWrapper div.legend ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.gbpWrapper section.sigmaWrapper div.legend li {
  margin-bottom: 5px;
}
.gbpWrapper section.sigmaWrapper div.legend li .textHidden {
  display: none;
}
.gbpWrapper section.sigmaWrapper div.legend li .text {
  margin-left: 10px;
  line-height: 18px;
}
.gbpWrapper section.sigmaWrapper div.legend li .showChckbx {
  position: relative;
  top: 2px;
  left: 5px;
}
.gbpWrapper section.sigmaWrapper div.legend li .itemWrapper:hover .text {
  display: block !important;
}
.gbpWrapper section.sigmaWrapper div.legend div.color {
  /*margin-right: 15px;*/
  width: 18px;
  height: 18px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  cursor: pointer;
}
.gbpWrapper #graph-container {
  padding: 0;
  height: 800px;
}
.gbpWrapper .selectWrapper {
  padding-left: 0;
}
.gbpWrapper .selectWrapper.col-md-12 {
  padding: 0;
  margin-bottom: 5px;
}
.gbpWrapper .inputWrapper.leftInput {
  padding-left: 0;
}
.gbpWrapper .inputWrapper.rightInput {
  padding-right: 0;
}
.gbpWrapper .separator {
  padding-bottom: 10px;
  margin-top: 15px;
  height: 1px;
  padding-left: 0px;
  padding-right: 15px;
}
.gbpWrapper .inner-separator {
  border-bottom: 1px solid #858585;
  width: 100%;
  float: left;
}
.gbpWrapper .btn-group {
  padding: 0;
}
.gbpWrapper .formWrapper {
  margin: 20px 0;
}
.gbpWrapper .icon-remove.align-right {
  float: right;
}
.gbpWrapper .icon-remove.align-right.padding {
  margin: 5px 5px 0 0;
}
.gbpWrapper .icon-exclamation-sign.red {
  color: red;
}
.gbpWrapper .sigmaWrapper {
  position: relative;
}
.gbpWrapper .sigmaWrapper .sigmaModalWrapper {
  position: absolute;
  top: 30px;
  left: 45px;
  z-index: 1;
}
.gbpWrapper .sigmaWrapper .sigmaModalWrapper .icon-remove {
  position: absolute;
  top: 5px;
  right: 5px;
}
.gbpWrapper .sigmaWrapper .sigmaModalWrapper .tableWrapper {
  position: relative;
  background: #f5f5f5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  min-width: 400px;
  min-height: 100px;
  margin-top: 20px;
  padding: 20px;
}
.gbpWrapper .sigmaWrapper .sigmaModalWrapper .tableWrapper .dataWrapper {
  overflow-y: scroll;
  max-height: 350px;
}
.gbpWrapper .sigmaWrapper .sigmaModalWrapper .tableWrapper .rowWrapper {
  padding: 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d5d5d5;
}
.modal-dialog {
  z-index: 100;
  height: 700px;
  width: 700px;
  background-color: white;
  position: fixed;
  opacity: 1;
  top: 50%;
  left: 50%;
  margin: -350px 0 0 -400px;
}
.modal-dialog .modal-header {
  height: 70px;
  padding: 10px 15px;
}
.modal-dialog .modal-navigation {
  float: left;
  width: 150px;
  height: 630px;
  border-right: 1px solid #e5e5e5;
  background-color: #eeeeee;
}
.modal-dialog .modal-navigation ul {
  -webkit-padding-start: 0;
  list-style-type: none;
}
.modal-dialog .modal-navigation ul li.navigation-item {
  height: 54px;
  width: 100%;
  background-color: #eeeeee;
  color: #666;
  font-weight: bold;
  padding: 20px;
}
.modal-dialog .modal-navigation ul li.navigation-item.selected {
  background-color: #428bca;
  border-color: #357ebd;
  color: #ffffff;
}
.modal-dialog .modal-content-container {
  float: right;
  width: 550px;
  height: 630px;
}
.modal-dialog .modal-content-container .content {
  overflow-y: scroll;
  padding: 0 50px 0 20px;
  height: 580px;
}
.modal-dialog .modal-content-container .bottom-navigation {
  height: 50px;
  bottom: 0;
  float: right;
  margin: 8px 30px;
}
.modal-canvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: #000;
  opacity: .15;
}
.link-tools .tool-remove {
  display: none;
}
.link-tools .tool-options {
  display: none;
}
.connection-wrap,
.marker-arrowheads {
  display: none;
}
/*-------------------YangUI import START-------------------*/
.customContainer {
  border-left: 1px solid #7a7a7a;
  margin: 35px 5px 5px 15px;
  padding: 5px;
  /*z-index: 10;*/
  width: auto;
  position: relative;
}
.customContainer.withoutBorder {
  border-left: 0;
  padding-bottom: 0;
}
.customContainer.withoutBorder .treeBullet.containerBullet {
  left: -25px;
  top: -25px;
}
.topContainerPart {
  margin-left: -19px;
  margin-top: -28px;
  margin-bottom: 10px;
}
.treeBullet {
  font-size: 25px;
  color: #7a7a7a;
  position: absolute;
  left: -15px;
  top: 0;
}
.treeBullet.containerBullet {
  top: -25px;
  left: -25px;
}
.btn-name {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: transparent;
  font-weight: bold;
  color: #393939;
  border: 2px solid #393939;
  cursor: auto;
}
button.yangButton,
div.yangButton {
  cursor: pointer;
  position: relative;
  width: 24px;
  height: 24px;
  border: 0;
  margin: 2px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
button.yangButton.iconArrowDown,
div.yangButton.iconArrowDown {
  background: transparent url('images/yang-ui-icons/icon-arrow-down.tpl.html') no-repeat center top;
}
button.yangButton.iconArrowRight,
div.yangButton.iconArrowRight {
  background: transparent url('images/yang-ui-icons/icon-arrow-right.tpl.html') no-repeat center top;
}
button.yangButton.iconNext,
div.yangButton.iconNext {
  background: transparent url('images/yang-ui-icons/icon-next.tpl.html') no-repeat center top;
}
button.yangButton.iconPrev,
div.yangButton.iconPrev {
  background: transparent url('images/yang-ui-icons/icon-prev.tpl.html') no-repeat center top;
}
button.yangButton:hover,
div.yangButton:hover {
  background-position: center -24px;
}
button.yangButton.disabled,
div.yangButton.disabled {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity= 40 )' !important;
  filter: alpha(opacity= 40 ) !important;
  -moz-opacity: 0.4 !important;
  -khtml-opacity: 0.4 !important;
  opacity: 0.4 !important;
}
button.yangButton.disabled:hover,
div.yangButton.disabled:hover {
  background-position: center top;
}
.btn-slim {
  padding-top: 2px;
  padding-bottom: 2px;
}
.inlineBlock {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
.leaf {
  margin: 5px;
  padding-left: 5px;
  position: relative;
}
.leaf-label {
  margin-right: 10px;
  font-weight: bold;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  /*width: 170px;*/
  padding-top: 6px;
}
.leaf-label button.iconQuestion {
  margin-top: -2px;
}
.leaf-label i.icon-key {
  font-size: 1.3em;
  padding-left: 5px;
}
.clear {
  clear: both;
}
.borderArrow {
  color: #393939;
  position: absolute;
  bottom: -6px;
  left: -6px;
  font-size: 1.3em;
}
.tooltip-inner {
  color: #fff;
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */
}
/*-------------------YangUI import END-------------------*/
/*
-------------------JointJS Graph START-------------------
.html-element {
  position: absolute;
  background: #3498DB;
  pointer-events: none;
  -webkit-user-select: none;
  border-radius: 4px;
  border: 2px solid #2980B9;
  box-shadow: inset 0 0 5px black, 2px 2px 1px gray;
  padding: 5px;
  box-sizing: border-box;
  z-index: 2;
  pointer-events: auto;
  bottom: 0;
  left: 0;
  right: 0;
  color: #333;
  height: 16px;
  margin-top: 107px;
  margin-left: 16px;
  width: 50px !important;
  height: 20px !important;
}
-------------------JointJS Graph END-------------------
*/
/*GBP END*/

.btn-like-tab {
  text-decoration: none;
  color: #464646;
  border: 0;
  line-height: 32px;
  padding: 0 15px;
  background: transparent !important;
  border-bottom: 3px solid transparent;
  margin: 0 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-transition: 150ms;
  transition: 150ms;
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  transition: all 150ms linear;
}
.btn-like-tab.btn-selected,
.btn-like-tab:hover {
  border-bottom: 3px solid #1baafd;
  background: transparent !important;
}

#page_logo {
  display:none;
}

h1, h2, h3 {
  color: #393939;
}

