<section ng-controller="governanceCtrl">
    <section class="col-md-9">
        
        <section ng-if="contentTpl" ng-include src="view_path + 'governance/' + contentTpl + '.tpl.html'" onload="checkBroadcastCalling(contentTpl)"></section>
        
    </section>

    <!-- RIGHT PANEL -->
    <aside class="col-md-3"> 
        <section class="inWrapper">

            <!-- Menu including -->
            <section ng-if="menuTpl" ng-include src="view_path + 'menu/' + menuTpl + '.tpl.html'"></section>
            <section class="mb50" ng-if="menuBox" ng-include src="view_path + 'box/' + menuBox + '.tpl.html'" onload="broadcastCalling('menuBox')"></section>
        </section>
    </aside>

    <section ng-show="wizards.actionReferenceWizard">
        <div ng-include src="view_path+'wizards/actionReferenceWizard.tpl.html'"></div>
    </section>
</section>

