<h1 class="text-center">GBP</h1>

<nav class="mainNavigation">

    <div class="topButtonsWrapper">
        <div class="buttonWrapper">
            <button class="btn btn-primary btn-large" ng-click="toggleExpandedMM('policy-renderer'); setViewExpand('policyRendererView', 'basic', true); setViewExpand('subMenuView','policySub', true); setBreadcrumb('l1', 'Policy expression', true); setBreadcrumb('l2', 'Policy', true);"></i>Policy expression</button>
            <i class="icon-large icon-circle-arrow-down"></i>
        </div>
    </div>

    <div class="middleButtonsWrapper">
        <div class="buttonWrapper">
            <button class="btn btn-primary btn-large" ng-click="toggleExpandedMM('governance', null, 'GOV_INIT'); setViewExpand('subMenuView','governance', true); setBreadcrumb('l1', 'Governance', true);">Governance</button>
            <div class="iconWrapper">
                <i class="icon-large icon-circle-arrow-right"></i>
            </div>
        </div>

        <div class="middleBox">
            <div class="infinityIcon" ng-click="toggleExpandedMM('governance', null, 'GOV_INIT'); setBreadcrumb('l1', 'Governance', true);"></div>
        </div>

        <div class="buttonWrapper">
            <div class="iconWrapper">
                <i class="icon-large icon-circle-arrow-left"></i>
            </div>
            <button class="btn btn-primary btn-large" ></i>Operational constraints</button>
        </div>
    </div>
    
    <div class="bottomButtonsWrapper">
        <div class="buttonWrapper">
            <i class="icon-large icon-circle-arrow-up"></i>
            <button class="btn btn-primary btn-large" ng-click="toggleExpandedMM('policy-renderer'); setViewExpand('policyRendererView', 'basic', true); setViewExpand('subMenuView', 'renderers', true); setBreadcrumb('l1', 'Policy expression', true); setBreadcrumb('l2', 'Renderers', true);"></i>Renderer configuration</button>
        </div>
    </div>

</nav>