<div ng-controller="classifierRefCtrl" ng-init="init()">

    <div ng-include src="view_path+'parts/crud.tpl.html'"></div>
    
    <section ng-show="internalView.classifierRef">
        <form name="classifierRefForm" novalidate="novalidate">
            <i class="icon-remove align-right" ng-click="close()"></i>

            <div class="rowWrapper">
                <label class="block basicLabel"><span>Name:</span>
                    <i class="icon-exclamation-sign red" tooltip="{{classifierRefForm.name.$error.required ? 'Required field' : classifierRefForm.name.$error.pattern ? 'Value must start with letter followed by letters and digits without space' : ''}}" ng-show="classifierRefForm.name.$error.required || classifierRefForm.name.$error.pattern"></i>
                </label>
                <input class="form-control" type="text" ng-model="newClassifierRefObj.name" name="name" ng-required="true" ng-disabled="internalView.edit !== 'add'" ng-pattern="/^[a-zA-Z]([a-zA-Z0-9\-_.])*$/"/>
            </div>
            
            <div class="rowWrapper" ng-hide="internalView.edit === 'view' && !newClassifierRefObj['instance-name']">
                <label class="block basicLabel"><span>Instance name:</span></label>
                <select class="form-control" ng-model="newClassifierRefObj['instance-name']" ng-options="c.name as getDisplayLabel(c, instanceNames.labels) for c in instanceNames.options" ng-disabled="internalView.edit === 'view'">
                    <option>--</option>
                </select>
            </div>

            <div class="rowWrapper" ng-hide="internalView.edit === 'view' && !newClassifierRefObj['direction']">
                <label class="block basicLabel"><span>Direction:</span></label>
                <select class="form-control" ng-model="newClassifierRefObj.direction" ng-options="c for c in formDirections" ng-disabled="internalView.edit === 'view'">
                    <option>--</option>
                </select>
            </div>

            <div class="rowWrapper" ng-hide="internalView.edit === 'view' && !newClassifierRefObj['connection-tracking']">
                <label class="block basicLabel"><span>Connection tracking:</span></label>
                <select class="form-control" ng-model="newClassifierRefObj['connection-tracking']" ng-options="c for c in formConnectionTracking" ng-disabled="internalView.edit === 'view'">
                    <option>--</option>
                </select>
            </div>
            
            <button class="btn btn-primary col-md-12" ng-click="save()" ng-hide="internalView.edit === 'view'">Save</button>
        </form>
    </section>

</div>