<md-content flex>
	<div layout="row" class="layout-padding-lr15 layout-row">
		<ul class="breadcrumbs">
			<li class="breadcrumb" ng-click="openSidePanel('resolved-policy/sidepanel/views/contract-list-sidepanel')" role="button">Contracts</li>
			<li class="breadcrumb"><i class="material-icons">keyboard_arrow_right</i></li>
			<li class="breadcrumb" ng-click="openSidePanel('resolved-policy/sidepanel/views/contract-sidepanel', sidePanelObject)" role="button">{{sidePanelObject.data.id}}</li>
			<li class="breadcrumb"><i class="material-icons">keyboard_arrow_right</i></li>
			<li class="breadcrumb">{{sidePanelObject.data.clause[innerObj.clause].name}}</li>
		</ul>
	</div>
	<md-divider></md-divider>
	<md-divider></md-divider>
	<md-subheader class="md-primary">Clause info</md-subheader>
	<div layout="row" class="layout-padding-lr15 layout-row layout-padding-b15">
	    <span flex="50" class="flex-50"><strong>Clause name</strong></span>
	    <span flex="" class="ng-binding flex">{{sidePanelObject.data.clause[innerObj.clause].name}}</span>
	</div>
	<md-divider></md-divider>
	<md-subheader class="md-primary">Subject refs ({{sidePanelObject.data.clause[innerObj.clause]['subject-refs'].length}})</md-subheader>
    <md-list>
    	<ng-repeat ng-repeat="ref in sidePanelObject.data.clause[innerObj.clause]['subject-refs']">
	    	<md-list-item ng-click="toggleExpanded(ref)">
	    		{{ref}}
	    		<md-content ng-show="ref.expanded" class="md-whiteframe-2dp ng-scope flex layout-margin">
	    			<div layout="row" class="layout-row">
	    		        <span flex="50" class="flex-50"><strong>Subject refs</strong></span>
	    				<span flex class="ng-binding flex">{{ref}}</span>
    				</div>
	    		</md-content>
	    	</md-list-item>
    	</ng-repeat>
    </md-list>
</md-content>