<div ng-controller="epgDetailCtrl">
    <section class="simpleBox col-md-3">
        <label class="block"><span>Epg list</span></label>
        <div class="selectWrapper col-md-12">
            <select class="form-control" ng-model="selectedEpg" ng-change="setEpg(selectedEpg)" ng-options="getDisplayLabel(d, epgDisplayLabel) for d in epgList">
                <option value="">Select option</option>
            </select>
        </div>
    </section>
    <section class="sectionTitle col-md-3">
        <label class="block"><span>Endpoint group detail</span></label>
    </section>
    
    <!-- Graph -->
    <div class="clear"></div>
    <section class="graphWrapper" ng-controller="graphCtrl" ng-init="init(getPaperObj())">
        
        <section class="controlPanelButtons">
            <button class="btn btn-primary btn-slim" ng-click="zoom()"><i class="icon-zoom-in"></i></button>
            <div class="line"></div>
            <button class="btn btn-primary btn-slim" ng-click="zoom(true)"><i class="icon-zoom-out"></i></button>
        </section>

        <div graph="graph" id="graph" grid-size="1" />
    </section>
</div>