<div ng-controller="classifiersCtrl" ng-init="init()">
    <h2 class="text-center">Classifiers</h2> 

    <div ng-include src="view_path+'parts/crud.tpl.html'"></div>

     <section class="formWrapper clearfix" ng-show="classifiersView">
        <form name="classifierForm" novalidate="novalidate">
            <i class="icon-remove align-right" ng-click="close()"></i>
            <label class="block">Add classifiers</label>

            <div class="rowWrapper">
                <label class="block basicLabel">Name
                    <i class="icon-exclamation-sign red" tooltip="{{classifierForm.name.$error.required ? 'Required field' : classifierForm.name.$error.pattern ? 'Value must start with letter followed by letters and digits without space' : ''}}" ng-show="classifierForm.name.$error.required || classifierForm.name.$error.pattern"></i>
                </label>
                <input class="form-control" type="text" name="name" ng-required="true" ng-model="newClassifierObj.name" ng-disabled="edit !== 'add'" ng-pattern="/^[a-zA-Z]([a-zA-Z0-9\-_.])*$/"/>
            </div>

            <div class="rowWrapper" ng-hide="edit === 'view' && !newClassifierObj['classifier-definition-id']">
                <label class="block basicLabel">Definition</label>
                <select class="form-control" ng-model="newClassifierObj['classifier-definition-id']" ng-options="d.id as getDisplayLabel(d, classifierDefinitions.labels) for d in classifierDefinitions.options" ng-change="reloadDefs()" ng-disabled="edit === 'view'">
                    <option value="">Select option</option>
                </select>
            </div>

        <div class="rowWrapper clearfix">
                <div ng-repeat="param in defs">
                <div class="rowWrapper" ng-controller="paramCtrl" ng-init="init(param, newClassifierObj['parameter-value'])">
                        <div ng-show="param.type !== 'range'">
                        <label class="block basicLabel">{{ parameter.name + ' (' + parameter.type + ')' }}:</label>
                            <input class="form-control" type="text" ng-model="value" ng-disabled="edit === 'view'"></input>
                        </div>
                        <div ng-show="param.type === 'range'">
                        <label class="block basicLabel">{{ parameter.name + ' (' + parameter.type + ')' }}:</label>

                        <div class="col-md-6 inputWrapper leftInput">
                            <input class="form-control" type="text" ng-model="value.min" ng-disabled="edit === 'view'"></input>
                        </div>
                        <div class="col-md-6 inputWrapper rightInput">
                            <input class="form-control col-md-6" type="text" ng-model="value.max" ng-disabled="edit === 'view'"></input>
                        </div>

                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary col-md-12" ng-click="save()" ng-hide="edit === 'view'">Save</button>
        </form>
    </section>
    
    <button class="btn btn-primary  bottom-buttons full-width wizard-button" ng-click="showWizard('accessModelWizard')"><i class="icon-magic"></i>Access Model Wizard</button>
    <button class="btn btn-primary col-md-12 bottom-buttons home" ng-click="toggleExpandedMM('main')">Home</button>
    <button class="btn btn-primary col-md-12 bottom-buttons back" ng-click="setViewExpand('policyRendererView', 'basic', true); setBreadcrumb('l3', null, false);">Back</button>
</div>