<md-content flex>
	<div ng-if="selectedNode == null">
		<div layout="row" class="layout-padding-lr15 layout-row">
			<ul class="breadcrumbs">
				<li class="breadcrumb">Contracts</li>
			</ul>
		</div>
		<md-divider></md-divider>
		<md-divider></md-divider>
	    <md-subheader class="md-primary">Contracts list ({{sidePanelObject.length}})</md-subheader>
	    <md-list>
	    	<ng-repeat ng-repeat="contract in sidePanelObject">
		    	<md-list-item ng-click="openSidePanel('resolved-policy/contract-sidepanel', contract, null)" ng-mouseenter="highlightLink(contract.linkId)" ng-mouseleave="fadeAll()">
		    		{{contract['contract-id']}}
		    	</md-list-item>
	    	</ng-repeat>
	    </md-list>
	</div>
	<div ng-if="selectedNode">
		<div layout="row" class="layout-padding-lr15 layout-row">
			<ul class="breadcrumbs">
				<li class="breadcrumb" ng-click="deselectContract()" role="button">Contracts</li>
				<li class="breadcrumb"><i class="material-icons">keyboard_arrow_right</i></li>
				<li class="breadcrumb">{{selectedNode['contract-id']}}</li>
			</ul>
		</div>
		<md-divider></md-divider>
		<md-divider></md-divider>
		<md-subheader class="md-primary">Contract info</md-subheader>
		<div layout="row" class="layout-padding-lr15 layout-padding-b15 layout-row">
		    <span flex="50" class="flex-50"><strong>Contract ID</strong></span>
		    <span flex="" class="ng-binding flex">{{selectedNode['contract-id']}}</span>
		</div>
		<md-divider></md-divider>
		<md-subheader class="md-primary">Subject list ({{getObjectsCount(selectedNode.subjects)}})</md-subheader>
	    <md-list>
	    	<ng-repeat ng-repeat="(key, value) in selectedNode.subjects">
		    	<md-list-item ng-click="openSidePanelChild(key, 'subject')">
		    		{{key}}
		    	</md-list-item>
	    	</ng-repeat>
	    </md-list>
	</div>
</md-content>