<md-content>
	<div ng-if="selectedNode == null">
		<div layout="row" class="layout-padding-lr15 layout-row">
			<ul class="breadcrumbs">
				<li class="breadcrumb">Endpoint-groups</li>
			</ul>
		</div>
		<md-divider></md-divider>
		<md-divider></md-divider>
	    <md-subheader class="md-primary">Endpoint-groups ({{sidePanelObject.length}})</md-subheader>
	    <md-list>
	    	<ng-repeat ng-repeat="epg in sidePanelObject">
		    	<md-list-item class="md-2-line"
                              ng-click="openSidePanel('resolved-policy/epg-sidepanel', epg, null)"
                              ng-mouseenter="highlightNode(epg.id)"
                              ng-mouseleave="fadeAll()">
                    <div class="md-list-item-text" flex>
                        <h3>{{epg.id}}</h3>
                    </div>
		    	</md-list-item>
	    	</ng-repeat>
	    </md-list>
	</div>
	<div ng-if="selectedNode">
		<div layout="row" class="layout-padding-lr15 layout-row">
			<ul class="breadcrumbs">
				<li class="breadcrumb" ng-click="deselectEpg()" role="button">Endpoint-groups</li>
				<li class="breadcrumb"><i class="material-icons">keyboard_arrow_right</i></li>
				<li class="breadcrumb">{{sidePanelObject.id}}</li>
			</ul>
		</div>
		<md-divider></md-divider>
		<md-divider></md-divider>
		<md-subheader class="md-primary">Endpoint-group info</md-subheader>
		<div layout="row" class="layout-padding-lr15 layout-row">
		    <span flex="50" class="flex-50"><strong>Endpoint-group ID</strong></span>
		    <span flex="" class="ng-binding flex">{{sidePanelObject.id}}</span>
		</div>
		<md-divider></md-divider>
		<div ng-if="sidePanelObject['provided-contracts'].length">
		    <md-subheader class="md-primary">Provided contracts ({{sidePanelObject['provided-contracts'].length}})</md-subheader>
		    <md-list>
                <md-list-item class="md-2-line"
                              ng-click="openSidePanelContract(providedContract);"
                              ng-repeat="providedContract in sidePanelObject['provided-contracts']">
                    <div class="md-list-item-text" flex>
                        <h3>{{providedContract}}</h3>
                    </div>
                </md-list-item>
		    </md-list>
	    </div>
		<div ng-if="sidePanelObject['consumed-contracts'].length">
		    <md-subheader class="md-primary">Consumed contracts ({{sidePanelObject['consumed-contracts'].length}})</md-subheader>
		    <md-list>
                <md-list-item class="md-2-line"
                              ng-click="openSidePanelContract(consumedContract);"
                              ng-repeat="consumedContract in sidePanelObject['consumed-contracts']">
                    <div class="md-list-item-text" flex>
                        <h3>{{consumedContract}}</h3>
                    </div>
                </md-list-item>
		    </md-list>
	    </div>
	    <md-divider></md-divider>
	    <md-subheader class="md-primary">
    		<div layout="row" class="layout-row">
    			<span>Endpoints ({{endpoints.data.length}})</span>
        	</div>
	    </md-subheader>
	    <md-list class="expander">
			<md-list-item class="md-3-line" layout="row" ng-repeat="endpoint in endpoints.data">
				<div layout-padding flex="15">
					<h3>{{endpoint.getEndpointContextTypeAcronym()}}</h3>
					<md-tooltip md-direction="right">{{endpoint.data['context-type']}}</md-tooltip>
				</div>
				<div class="md-list-item-text" flex>
					<h3>{{endpoint.data['context-id']}}</h3>
					<p>Address: {{endpoint.data.address}} </p>
					<p>Network Domain: {{endpoint.data['network-containment']['network-domain-id']}} </p>
                    <p>SGT: {{endpointSgtList.findSgtsForEndpoint(endpoint)}} </p>
				</div>
				<div flex="10">
					<md-button class="md-icon-button" ng-click="rootOpenEndpointDialog('edit', endpoint)">
						<md-icon>edit</md-icon>
					</md-button>
				</div>
				<div flex="10">
					<md-button class="md-icon-button" ng-click="rootDeleteEndpointDialog(endpoint)">
						<md-icon>delete</md-icon>
					</md-button>
				</div>
			</md-list-item>
	    </md-list>
    </div>
</md-content>
