<div ng-controller="actionRefCtrl" ng-init="init()">

    <div ng-include src="view_path+'parts/crud.tpl.html'"></div>

    <section ng-show="internalView.actionRef">
        <form name="actionRefForm" novalidate="novalidate">
            <i class="icon-remove align-right" ng-click="close()"></i>
            
            <div class="rowWrapper">
                <label class="block basicLabel"><span>Name:</span>
                    <i class="icon-exclamation-sign red" tooltip="Required field" ng-show="actionRefForm.name.$error.required"></i>
                </label>
                <select class="form-control" ng-model="newActionRefObj.name" ng-options="c.name as getDisplayLabel(c, actionInstanceNames.labels) for c in actionInstanceNames.options" name="name" ng-required="true" ng-disabled="internalView.edit !== 'add'">
                    <option>--</option>
                </select>
            </div>

            <div class="rowWrapper" ng-hide="internalView.edit === 'view' && !newActionRefObj['order']">
                <label class="block basicLabel"><span>Order:</span>
                    <i class="icon-exclamation-sign red" tooltip="Invalid pattern" ng-show="errors.int32"></i>
                </label>
                <input class="form-control" type="text" ng-model="newActionRefObj.order" ng-disabled="internalView.edit === 'view'" ng-change="validate(newActionRefObj.order, errors)"/>
            </div>
            
            <button class="btn btn-primary col-md-12" ng-click="save()" ng-hide="internalView.edit === 'view'">Save</button>
        </form>
    </section>

</div>