<div ng-controller="epgDetailCtrl">
    <section class="simpleBox col-md-3">
        <label class="block"><span>Epg list</span></label>
        <div class="selectWrapper col-md-12">
            <select class="form-control" ng-model="selectedEpg" ng-change="setEpg(selectedEpg)" ng-options="getDisplayLabel(d, epgDisplayLabel) for d in epgList">
                <option value="">Select option</option>
            </select>
        </div>
    </section>
    <section class="sectionTitle col-md-3">
        <label class="block"><span>Endpoint group detail</span></label>
    </section>
    <div graph="graph" id="graph" width="100%" height="100%" grid-size="1" />
</div>