<div ng-controller="layerCtrl" ng-init="init(key,value)" class="{{ checkData(value, 'Object') ? 'customContainer' : '' }}">

    <div ng-if="checkData(value, 'Object')" class="topContainerPart">
        <span class="treeBullet containerBullet" ng-if="key !== 'subject-feature-definitions'">&#8226;</span>
        <button class="yangButton {{ expanded ? 'iconArrowDown' : 'iconArrowRight' }} inlineBlock" tooltip="Show / Hide container" ng-click='toggleExpanded()'></button>
        <button class="btn-name btn-slim">
            {{key}}
        </button>

        <div ng-if="checkData(data, 'Array')" class="listPagination inlineBlock" ng-show="data.length > 0">
            <button ng-click="shiftDisplayPrev()" ng-show="showPrevButton()" tooltip="Show previous item" class="yangButton iconPrev"></button>
            <div class="paginationItemWrapper">
                <button ng-repeat="offset in displayOffsets track by $index" ng-if="currentDisplayIndex + offset > -1 && data.length > currentDisplayIndex + offset" class="btn  btn-like-tab {{ (data[currentDisplayIndex + offset] === actSelected ? 'btn-selected':'') }}" ng-click="setActData(data[currentDisplayIndex + offset])" tooltip="Select this node">
                    {{ data[currentDisplayIndex + offset].name }}
                </button>
            </div>
            <button ng-click="shiftDisplayNext()"  ng-show="showNextButton('listData')" tooltip="Show next item" class="yangButton iconNext"></button>
        </div>
    </div>

    <div class="leaf" ng-if="!checkData(value, 'Object') && !checkData(value, 'Array')">
        <span class="treeBullet" ng-if="key !== 'subject-feature-definitions'">&#8226;</span>
        <span class="leaf-label col-md-2">
            {{ key }}
        </span>
        <span class="leaf-label col-md-9"><strong>{{value}}</strong></span>
        <div class="clear"></div>
    </div>

    <div ng-if="checkData(data, 'Array')" ng-repeat="(key, value) in actSelected track by $index" ng-include src="view_path+'/node-structure.tpl.html'" ng-show="expanded">
    </div>

    <div ng-if="!checkData(data, 'Array') && checkData(data, 'Object')" ng-repeat="(key, value) in data track by $index" ng-include src="view_path+'/node-structure.tpl.html'" ng-show="expanded">
    </div>

    <i class="icon-caret-down borderArrow"></i>
</div>