<div layout="row" class="gbpUiWrapper" flex>
    <div layout="column" role="main" flex class="master-view">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <!--<md-button ng-href="#/gbp/index/tenant" ng-click="closeSidePanel()" class="md-primary">Tenant</md-button>
                <md-menu class="md-primary" class="md-toolbar-tools" style="background-color:rgb(33,150,243);color:black;">
                    <md-button ng-click="$mdOpenMenu($event)" style="background-color:rgb(33,150,243);color:black;">Policy</md-button>
                    <md-menu-content style="background-color:rgb(33,150,243);color:black;">
                        <md-button ng-click="" ng-disabled="policyDisabled" ng-href="#/gbp/index/policy/epg" style="background-color:rgb(33,150,243);color:black;">EPGs</md-button>
                        <md-button ng-click="" ng-disabled="policyDisabled" ng-href="#/gbp/index/policy/contract" style="background-color:rgb(33,150,243);color:black;">Contracts</md-button>
                    </md-menu-content>
                </md-menu>-->
                <md-button ng-click="closeSidePanel()" ng-href="#/gbp/index/resolved-policy">Resolved Policy</md-button>
                <md-button ng-click="closeSidePanel()" ng-href="#/gbp/index/endpoints">Endpoints</md-button>
                <span flex></span>
                <md-button ng-if="'main.gbp.index.resolvedPolicy' | isState" ng-click="deselectEpg()" ng-href="">Endpoint-groups</md-button>
                <md-button ng-if="'main.gbp.index.resolvedPolicy' | isState" ng-click="deselectContract()" ng-href="">Contracts</md-button>
                <md-input-container style="margin-right: 10px;">
                    <md-select ng-model="rootTenant"
                               placeholder="select tenant"
                               md-on-close="setRootTenant();"
                               id="tenantSelector">
                        <md-option ng-repeat="tenant in rootTenants.data" ng-value="tenant.data.id">{{ tenant.data.id }}</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-toolbar>
        <!-- <md-content md-scroll-y flex ui-view></md-content> -->
        <md-content md-scroll-y flex ui-view>
            <md-content md-scroll-y flex ui-view="main_top" class="col-md-6"></md-content>
            <md-content md-scroll-y flex ui-view="main_bottom" class="col-md-6"></md-content>
        </md-content>
    </div>
    <!-- Node's side pannel -->
    <md-sidenav class="md-sidenav-right md-whiteframe-z1 detail-view" md-is-locked-open="sidePanelPage">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span>Sidepanel</span>
                </h2>
                <span flex></span>
                <md-button ng-click="closeSidePanel()" class="md-button">Close panel</md-button>
            </div>
        </md-toolbar>
        <md-content flex>
            <div flex layout="column" ui-view="sidePanel">
                <ng-include ng-if="sidePanelPage" src="viewPath + sidePanelPage + '.tpl.html'"></ng-include>
            </div>
        </md-content>
    </md-sidenav>
</div>
