.gbpUiGlobalWrapper {
    background: #ffffff;
    margin-bottom: 0!important;
    min-height: 100%;
    padding: 0px;
}

.gbpUiGlobalWrapper .main {
    top: 0px;
}

.gbpUiWrapper {
    background-color: #414042;
}

.gbpUiWrapper .pageContent {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.gbpUiWrapper .side-panel {
    width: 400px;
    color: #000 ! important;
    border: 1px solid #000;
}

.gbpUiWrapper .h100 {
    height: 100%;
}

.gbpUiWrapper.w100 {
    width: 100%;
}

.gbpUiWrapper.flt-r {
    float: right;
}

/* LAYOUT */
.layout-padding-lr15 {
    padding: 0 15px;
}

/* TABLES */
.gbpUiWrapper .md-table span {
    color: rgba(0,0,0,.87);
}
.gbpUiWrapper .md-table-pagination span {
    color: rgba(0,0,0,.87);
    font-weight: normal;
}
.gbpUiWrapper button.md-button.md-icon-button.w85 {
    width: 85px;
}

/* BUTTONS */
.gbpUiWrapper button.md-primary span {
    color: rgb(33,150,243);
}
.gbpUiWrapper button .md-icon {
    width: 30px;
}

/* DIALOG */
.gbpDialogWrapper button.md-primary span {
    color: rgba(0,0,0,0.87);
}
.gbpDialogWrapper button.md-primary[disabled] span {
    color: rgba(0,0,0,0.26);
}

svg g.node text {
    pointer-events: auto !important;
}

.expander md-content {
    line-height: 15px;
    width: 100%;
}

.expander .md-list-item-inner {
    flex-flow: row wrap;
}

.expand-button {
    min-width: 0px !important;
    min-height: 0px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    line-height: normal !important;
}

#graph-container {
    padding-left: 0;
}

/* $mdDialog.confirm */
/* md-dialog button span {
    color: #000;
} */

div.layout-padding h3 {
    color: black;
}

md-sidenav span {
    color: inherit !important;
}

div.md-primary.md-subheader.ng-scope > div > span > span {
  color: rgb(33,150,243);
}

.md-subheader {
    font-weight: bold !important;
}

md-sidenav > md-toolbar > div > h2 > span {
    margin: 20px 0;
    color: #666;
}

span.flex-35 > strong {
    color: rgba(0,0,0,0.87);
}

span.ng-binding.flex {
    color: rgba(0,0,0,0.87);
}

md-select:not([disabled]) .md-select-value .md-text {
	color: black;
}

.md-input-has-value label {
    color: rgba(0,0,0,0.54);
}

md-select-value span {
	color: rgba(0,0,0,0.26);
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 1.428571429;
}

md-select-value span div {
    font-weight: normal;
}

.md-chips {
        padding: 0 0 0 0 !important;
}

md-dialog-content > div:first-child {
    padding-top: 20px;
    padding-bottom: 20px;
}

.gbpUiGlobalWrapper .md-locked-open {
    width: 500px;
    min-width: 500px;
}

.breadcrumbs {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1em;
    padding-left: 0;
    margin: 10px 0;
}

.breadcrumbs .breadcrumb {
    display: inline-block;
    color: rgba(0,0,0,.54);
    background-color: transparent;
    padding: 0;
    font-size: 13px;
    margin-bottom: 0 !important;
    vertical-align: middle;
}

.breadcrumbs .breadcrumb[role="button"] {
    color: rgb(33, 150, 243);
}

.layout-padding-r10 {
    padding-right: 10px;
}

.layout-padding-b15 {
    padding-bottom: 15px;
}

.order {
    color: #000 !important;
    margin: 0;
}

.status-circle.allow {
    color: green;
}

.status-circle.require-contract {
    color: orange;
}

md-ink-bar {
    background: red !important;
}

md-tab-item > span {
    color: rgba(0,0,0,0.54);
}

md-tab-item.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple.md-active > span {
    color: rgb(16,108,200);
}

.layout-padding-lr15.ng-scope.layout-column > div {
    padding-top: 15px;
}

div.md-primary.md-subheader > div > span > span {
    color: rgb(33,150,243);
}

div.md-secondary.md-subheader.ng-scope > div > span > span {
    color: rgb(33,150,243) !important;
}

li > md-autocomplete-parent-scope > span {
    color: rgba(0,0,0,.54);
}

#tenantSelector div, #tenantSelector .md-select-placeholder span {
    color: white;
    font-weight: normal;
}

md-input-container md-select md-select-value span {
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    letter-spacing: 0.010em;
}

#select_container_1 {
    z-index:1001;
}

#select_value_label_0 {
    border-bottom-color: white !important;
    border-bottom-width: 1px;
}

#select_value_label_0 span {
    color: white !important;
}

.md-chip-content .ng-binding {
    color: black;
}
