<div ng-controller="boxStaticCtrl" class="simpleBox maxHeight500">
    <h2 class="text-center">Endpoint</h2>

    <section class="formWrapper clearfix">
        <div class="rowWrapper">
            <label class="block mb0">Endpoint group</label>
            <span class="block">{{selectedObj['endpoint-group']}}</span>
        </div>

        <div class="rowWrapper">
            <label class="block mb0">Network containment</label>
            <span class="block">{{selectedObj['network-containment']}}</span>
        </div>

        <div class="rowWrapper">
            <label class="block mb0">L2 Contect:</label>
            <span class="block">{{selectedObj['l2-context']}}</span>
        </div>

        <div class="rowWrapper">
            <label class="block mb0">MAC address</label>
            <span class="block">{{selectedObj['mac-address']}}</span>
        </div>
    </section>
</div>